// Estilo de los botones

.btn {
    padding: 5px 10px;
    background-color: $Ball_blue;
    color: $White;
    text-decoration: none;
    font-size: 14px;
    font-family: $Raleway;
    font-weight: $Medium;
}
